.table {
    padding-left: 20px;
    padding-right: 20px;
}

.button-container {
    text-align: right;
    padding: 20px;
}

.button-dropdown {
    background-color: #71aca9;
}

.button-dropdown:hover {
    background-color: #71aca9 !important;
}