:root {
    --main-color: #afd3d2;
  }

.profile {
    padding: 3rem 6rem;
}

.colSm9 {
    border: 1px solid var(--main-color);
    border-radius: 0.25rem;
    margin: auto;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.profileForm {
    margin: 0rem auto;
    max-width: 50rem;
}

.formControl {
    border-radius: 1rem;
    border: 2px solid #afd3d2;
    height: 3rem;
    margin: 5px 0 5px 0;
    padding: 10px;
}

.formControl:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #5aa3a1;
    border-color: #afd3d2;
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71aca9;
    color: white;
    border: 2px solid #71aca9;
    border-radius: 2.5rem;
    width: 50%;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
}