/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-div {
        height: 500px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 5px solid #afd3d2;
        border-radius: 2.5rem;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0;
    }

    .signin-btn {
        background-color: #71aca9;
        color: white;
        border: 2px solid #71aca9;
        border-radius: 2.5rem;
        width: 80%;
        height: 2.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 20px;
    }

    .social-login {
        width: 80%;
        height: 2.5rem;
        display: flex;
    }

    .social-google-login-button {
        padding: 10px 20px;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: #df4930;
        border-radius: 2.5rem;
        width: 45%;
        height: 2.5rem;
        font-size: 0.75rem;
        font-weight: bold;
    }

    .social-google-login-button::after {
        display: none;
    }

    .social-facebook-login-button {
        padding: 10px 20px;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: #507cc0;
        border-radius: 2.5rem;
        width: 45%;
        height: 2.5rem;
        font-size: 0.75rem;
        font-weight: bold;
    }

    .social-facebook-login-button::after {
        display: none;
    }

    .icon {
        margin: 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-div {
        height: 500px;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 5px solid #afd3d2;
        border-radius: 2.5rem;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0;
    }

    .signin-btn {
        background-color: #71aca9;
        color: white;
        border: 2px solid #71aca9;
        border-radius: 2.5rem;
        width: 80%;
        height: 2.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 20px;
    }

    .social-login {
        height: 2.5rem;
        display: flex;
    }

    .social-google-login-button {
        padding: 10px 20px;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: #df4930;
        border-radius: 2.5rem;
        width: 45%;
        height: 2.5rem;
        font-size: 0.75rem;
        font-weight: bold;
    }

    .social-facebook-login-button {
        padding: 10px 20px;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: #507cc0;
        border-radius: 2.5rem;
        width: 45%;
        height: 2.5rem;
        font-size: 0.75rem;
        font-weight: bold;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-div {
        height: 500px;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 5px solid #afd3d2;
        border-radius: 2.5rem;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0;
    }
}

.container-fluid {
    margin: 3rem 0;
    display: grid;
    place-items: center;
}

.alert {
    margin: 0;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.my-input-group {
    display: grid;
    place-items: center;
    width: 100%;
}

.my-input {
    border-radius: 1rem;
    border: 2px solid #afd3d2;
    height: 3rem;
    width: 80%;
    margin: 5px 0 5px 0;
    padding: 10px;
}

.signin-btn {
    background-color: #71aca9;
    color: white;
    border: 2px solid #71aca9;
    border-radius: 2.5rem;
    width: 50%;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 20px;
}

.my-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #5aa3a1;
    border-color: #afd3d2;
}

.invalid-feedback {
    width: 80%;
}

.info-div {
    font-size: 1.2rem;
}

.social-google-login-button {
    padding: 15px 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #df4930;
    border-radius: 2.5rem;
    width: 45%;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.social-google-login-button::after {
    content: 'Google';
}

.social-facebook-login-button {
    padding: 15px 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #507cc0;
    border-radius: 2.5rem;
    width: 45%;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.social-facebook-login-button::after {
    content: 'Facebook';
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.or {
    margin-bottom: 10px;
}

.social-login {
    width: 80%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}
